<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<script src="{{ url_for('static',filename='jquery.min.js') }}"> </script>
<script>

$(document).ready(function(){
  $("#get").click(function(){
    $.get("http://127.0.0.1:5000/getblockchain", {

    },
      function(data, status){
      console.log(data)
      text = data.info
      $("#blockchain-info").text(text)
    });
  });
});
</script>
</head>
<body>
<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>SEMANTIC</span>
              <span>SIMILARITY</span>
            </div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <!-- 
              <div class="app-form-group">
                <input class="app-form-control" id="sentence1" placeholder="Sentence 1">
              </div>
              -->
              <span class="app-text"> Documento 1</span>
              <br>
              <form class=app-form-button:hover action = "http://localhost:5000/upload" method="POST" action="" enctype="multipart/form-data" name="docsform">
                <div class="upload-btn-wrapper">
                  <button class="btn">UPLOAD</button>
                  <br>
                  <input type="file" name="doc1"/>
                </div>
                <br/><br/>

                <span class="app-text"> Documento 2</span>
                <br>
                <div class="upload-btn-wrapper">
                  <button class="btn">UPLOAD</button>
                  <br>
                  <input type="file" name="doc2"/>
                </div>
                
                <input class="app-form-button" id="submit" type="submit" />
             </form>
            <!-- <div class="app-form-group buttons">
              <button class="app-form-button" id="send">SEND</button>
            </div> -->
             <!-- 
              <div class="app-form-group">
                <input class="app-form-control" id="sentence2" placeholder="Sentence 2">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button" id="send">SEND</button>
              </div>
              -->
              
              <!--<div class="app-form-group">
                <p id="result">SIMILARITY - </p>
              </div>-->
              <div class="app-form-group">
                <p id="result"> {{similarity}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Start of the second card with blockchain info-->
    <div style="color:yellow" class="container" style="color:yellow">
      <div style="color:yellow" class="screen" style="color:yellow">
        <div style="color:yellow" class="screen-header" style="color:yellow">
          <div style="color:yellow" class="screen-header-left" style="color:yellow">
            <div style="color:yellow" class="screen-header-button close" style="color:yellow"></div>
            <div style="color:yellow" class="screen-header-button maximize"></div>
            <div style="color:yellow" class="screen-header-button minimize"></div>
          </div>
          <div style="color:yellow" class="screen-header-right">
            <div style="color:yellow" class="screen-header-ellipsis"></div>
            <div style="color:yellow" class="screen-header-ellipsis"></div>
            <div style="color:yellow" class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div style="color:yellow" class="screen-body" style="color:yellow">
          <div style="color:yellow" class="screen-body-item left" style="color:yellow">
            <div style="color:yellow" class="blockchain-info" style="color:yellow">
              <span style="color:yellow">BLOCKCHAIN INFO</span>

            </div>
            
          </div>
          <div style="color:yellow" class="screen-body-item">
            <div style="color:yellow" class="app-form">
              <div style="color:yellow" class="app-form-group">
                <!-- Tirando sentença e botão: 
                <input class="app-form-control" id="sentence1" placeholder="Sentence 1">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" id="sentence2" placeholder="Sentence 2">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button" id="send">SEND</button>
              </div>
              <div class="app-form-group">
                <p id="result">SIMILARITY - </p>
              </div>
              -->
              <!-- 
              <div class="screen-body-item">
                <div class="card-body">
                  <h5>Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              
              
              <div class="overflow-auto" style="height:120px;width:120px;" > AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>


              
              Teste do scrolling que funfa feio:
              <div style="height:120px;width:300px;overflow:auto;border:1px solid #666;border-radius: 10px;border-radius: 15px 50px 30px 5px;">
                As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk.
              </div>
              -->
              
              <div class="app-form">
                <pre>
                  <div class="ex1" id="blockchain-info" placeholder="Blockchain Information">
                    Blockchain Information
                  </div>
                </pre>
                <br> </br>

                <div class="app-form-group buttons">
                  <button class="app-form-button" id="get">GET</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</body>
</html>